.card{
    width: 30%;
    height: 320px;
    padding: 25px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0,0.2) ;
    background-color: aquamarine;
    border-radius: 15px;
    transition: 0.3s;
    
}
.card:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
p{
    overflow: hidden;
    margin-bottom: 18px;
}